.box_table_container{
    margin: 3rem 0;
    border: 1px solid #232D3B;
    border-radius:5px;
    padding: 2rem;
    color:#232D3B;
    overflow-wrap: break-word;
}
.box_table_container_historial{
    border: 1px solid rgba(35,45,59,0);
    border-radius:5px;
    padding: 2rem;
    color:#232D3B;
    overflow-wrap: break-word;
}

#box-contenido-blog{
    width:100%;
    overflow:hidden;
}
.box_table_title{
    width:100%;
    font-size: 16px;
	font-weight: 600;
    color:#232D3B;
    padding-bottom:1rem;
    border-bottom:1px solid #232D3B;
}

.box_table_buttons,
.box_table_form{
    padding: 1rem 0;
}
.box_table_buttons button{
    margin-right:0.5rem;
}

.form-control-error{
    border:1px solid red;
}

.span-blog-categorias{

    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #0181bb;
    float:left;
}

#catSpan_box_form_crearart{
    margin-bottom:1em; 
    padding-top:0em;
}

@media(min-width:990px) {
    #catSpan_box_form_crearart{
        margin-bottom:1em; 
        padding-top:2em;
    }
}

/***************
    UL
    **********************/

.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
}

/**************
    Comentarios
    ***************/

#box-blog-lista-comentarios{
    margin-left:4em;
    margin-right:4em;
}

.box-blog-lista-comentarios-titulo{
    font-size:1.8em;
    font-weight:700;
    padding-bottom:1.5em;
    padding-top:1em;
}

.box-blog-coment-contenedor{
    margin-bottom:1em;
}

.box-blog-coment-contenido{
    text-align:justify;
}

.box-blog-coment-titulo-autor{
    font-size:1.5em;
    font-weight:500;
    color:#0181bb;
}

.box-blog-coment-titulo-fecha{
    font-size:1em;
    font-weight:300;
    color:#ca9c06;
    margin-left:1em;
}

.box-blog-coment-contenido{
    margin-left:1.5em;
    padding-top:0.5em;
}

.star{
    font-size: 2em;
    color:#ccc;
    padding: 0 0.1em;
}

.star:hover ~ .star{
    color:#FFCC36;
}

.star:hover{
    color:#FFCC36;
}

.starSelected{
    color:#e67300;
}

.easyPaginateNav a {
    padding:5px;font-size: 16px;
	font-weight: 600;
	color: #1f1d22;

}

.easyPaginateNav a:hover {
	color: #0181bb;
}
.easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
    color: #0181bb;
}
