.box_table_container{
    margin: 3rem 0;
    border: 1px solid #232D3B;
    border-radius:5px;
    padding: 2rem;
    color:#232D3B;
    overflow-wrap: break-word;
}
.box_table_container_historial{
    border: 1px solid rgba(35,45,59,0);
    border-radius:5px;
    padding: 2rem;
    color:#232D3B;
    overflow-wrap: break-word;
}

#box-historial-detalleArticulo{
    width:100%;
}

#box-contenido-blog {
    width: 100%;
    overflow: hidden;
    padding-left: 1em;
}
.box_table_title{
    width:100%;
    font-size: 16px;
	font-weight: 600;
    color:#232D3B;
    padding-bottom:1rem;
    border-bottom:1px solid #232D3B;
}
.box_table_title-multimedia{
    width:100%;
    font-size: 14px;
	font-weight: 600;
    color:#232D3B;
    padding-bottom:1rem;
    margin-left:1em;
}

.box_table_buttons,
.box_table_form{
    padding: 1rem 0;
}
.box_table_buttons button{
    margin-right:0.5rem;
}

.form-control-error{
    border:1px solid red;
}

.span-blog-categorias{

    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #0181bb;
    float:left;
}

#catSpan_box_form_crearart{
    margin-bottom:1em; 
    padding-top:0em;
}

@media(min-width:990px) {
    #catSpan_box_form_crearart{
        margin-bottom:1em; 
        padding-top:2em;
    }
}

/***************
    UL
    **********************/

.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 1em;
  line-height: 1.5em;
}

/**************
    Comentarios
    ***************/

#box-blog{
    z-index: 10;
	background-color: #ffffff;
}

#box-blog-lista-comentarios{
    margin-left:4em;
    margin-right:4em;
}

.box-blog-lista-comentarios-titulo{
    font-size:1.8em;
    font-weight:700;
    padding-bottom:1.5em;
    padding-top:1em;
}

.box-blog-coment-contenedor{
    margin-bottom:1em;
}

.box-blog-coment-contenido{
    text-align:justify;
}

.box-blog-coment-titulo-autor{
    font-size:1.5em;
    font-weight:500;
    color:#0181bb;
}

.box-blog-coment-titulo-fecha{
    font-size:1em;
    font-weight:300;
    color:#ca9c06;
    margin-left:1em;
}

.box-blog-coment-contenido{
    margin-left:1.5em;
    padding-top:0.5em;
}

.star{
    font-size: 2em;
    color:#ccc;
    padding: 0 0.1em;
}

.star:hover ~ .star{
    color:#FFCC36;
}

.star:hover{
    color:#FFCC36;
}

.starSelected{
    color:#e67300;
}

.easyPaginateNav a {
    padding:5px;font-size: 16px;
	font-weight: 600;
	color: #1f1d22;

}

.easyPaginateNav a:hover {
	color: #0181bb;
}
.easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
    color: #0181bb;
}

.title-multimedia{
    padding-top:2em;
    padding-bottom:1em;
    margin-bottom:2em;
    margin-left:1em;
    margin-right:1em;
    
}

.contenido-multimedia{
   margin-left:1em;
   margin-right:1em;
}

/*tabs multimedia*/

.tabs {
  position: relative;
  margin-bottom:8em;
  margin-left:1em;
  margin-right:1em;
  width:100%;
}
.tab,.content {  
  padding: 1rem;
}
.tab {
    font-size: 14px;
    font-weight: 600;
    color:#232D3B;
}
.activo {
    border-bottom:1px solid #232D3B;
}
.content {
    width:100%;
    position: absolute;
    top: 3rem;
}
.radio-multimedia-content{
    margin-left:1em;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

#selector-multimedia{
    margin-bottom:2em;
}

.error-media{
    margin-left:1em;
    color:red;
    padding-left: 1rem;
     font-size: 12px;
    font-weight: 600;
}

.ok-media{
    margin-left:1em;
    color:#28a745;
    padding-left: 1rem;
    font-size: 12px;
    font-weight: 600;
}
.loader {
  position: relative;
  width: 75px;
  height: 100px;
  margin: 4em auto;
}
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #0181BB;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}
.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fcea1d;
  border-radius: 50%;
  animation: ball 4s infinite;
}
@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

